
nav{
    padding: 20px 0;
    font-size: 20px;
}
nav li{
    display: inline;
    list-style: none;
    margin-left: 15px;
    font-size: 16px;
}
nav a{
    text-decoration: none;
    color: var(--default-color);
}
nav a:hover,
nav li.active a{
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}
.hero-area{
    background-image: url(images/skaters\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-area-wrapper{
    color: white;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 144px;
    padding-top: 250px;
    position: relative;
    text-align: center;
}
.hero-area .btn{
    text-decoration: none;
    background: #fff;
    color: #222;
    line-height: 1.2;
    padding-top: 12px;
    padding-bottom: 12px;
    
}
.profile-area{
    margin-top: 100px;
    
    
}
.packages-area{
    margin: 100px 0 70px;
}