
nav{
    padding: 20px 0;
    font-size: 20px;
}
nav li{
    display: inline;
    list-style: none;
    margin-left: 15px;
    font-size: 16px;
}
nav a{
    text-decoration: none;
    color: var(--default-color);
}
nav a:hover,
nav li.active a{
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}
.hero-area{
    background-image: url(images/skaters\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-area-wrapper{
    color: white;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 144px;
    padding-top: 250px;
    position: relative;
    text-align: center;
}
.hero-area .btn{
    text-decoration: none;
    background: #fff;
    color: #222;
    line-height: 1.2;
    padding-top: 12px;
    padding-bottom: 12px;
    
}
.profile-area{
    margin-top: 100px;
    
    
}
.packages-area{
    margin: 100px 0 70px;
}

footer .contact-box{
    background: #FCEBEB;
    padding: 30px 120px;
    border-radius: 10px;
}
footer .contact-box p{
    margin: 0;
}
footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
    background: #272142;
    border-radius: 4px;
    color: black;
    padding: 15px 100px;
    margin-top: 30px;
    font-family: var(--default-font);
    font-size: 26px;
    line-height: 27px;}

footer .email-link:hover{
    color: yellow;
}
footer .social-links a{
    margin: 0 20px;
    color: var(--primary-colour);
    padding: 10px 14px;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
    color: white;
    background: var(--primary-colour);
}
footer .about-club{
    margin: 0 20px;
    color: var(--primary-colour);
    padding: 10px 14px;
    font-size: 14px;
     
}